@model BugStatus
@if ((Model & BugStatus.Open) == BugStatus.Open)
{<span class="badge badge-danger m-2">Open</span>}
@if ((Model & BugStatus.Assigned) == BugStatus.Assigned)
{<span class="badge badge-info m-2">Assigned</span>}
@if ((Model & BugStatus.Resolved) == BugStatus.Resolved)
{<span class="badge badge-success m-2">Resolved</span>}
@if ((Model & BugStatus.Closed) == BugStatus.Closed)
{<span class="badge badge-primary m-2">Closed</span>}
@if ((Model & BugStatus.Reopened) == BugStatus.Reopened)
{<span class="badge badge-warning m-2">Reopened</span>}