@model BugTracker.Models.ViewModels.BugIndexVm
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item active"><a asp-controller="Bugs" asp-action="Index">Projects</a></li>
</ol>

<h1>Index</h1>

