@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Poor Yorrick Bug Tracker</h1>
    <p>Track Issues of Software Projects</p>
    <p>Log In or Register to get started</p>
    <a asp-controller="projects" asp-action="index" class="btn btn-primary m-3">Projects</a>
</div>