@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Poor Yorrick Issue Tracker does not use any non-essential cookies, and does not share any information with any third parties.</p>
